.container {
    padding: 0 1rem;
}

.main {
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
        margin-bottom: 60px;
        color: #228BE6,
  }
}

.image {
    margin-bottom: 120px;
}

.gridContainer {
    max-width: 798px; 
    width: 100%;
}
